<div id="news">
  <div class="img">
      <img class="banner" src="../../../../../assets/images/3.jpg" alt="">
      <div class="bgcover"></div>
  </div>

  <div class="container mt-5 pt-5">
      <div class="row">
        
          <div class="col-md-6">
              <h3>REVIEW PHIM</h3>

              <div class="d-flex blog">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pr-0 paddingright">
                            <img class="img-fluid" src="../../../../../assets/images/deadpool22_1526356258379.jpg" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6">
                            <div class="titleblog">
                                    <h5>[Review] Deadpool 2: Không Có Bá Đạo Nhất, Chỉ Có Bá Đạo Hơn</h5>
                                    <div class="icon d-flex">
                                        <div class="likefb">
                                            <i class="far fa-thumbs-up"></i>
                                            <small>Thích 1</small>
                                        </div>
                                        <div class="view ml-2">
                                            <i class="fas fa-eye"></i>       
                                            <small>435</small>
                                        </div>
                                    </div>
                                    <p>Deadpool đã trở lại. Liệu “thánh bựa” của giới dị nhân vẫn còn chất như 2 năm về trước?</p>
                                  </div>
                    </div>
                </div>
                
              </div>

              <div class="d-flex blog">
                  <div class="row">
                      <div class="col-md-12 col-lg-6 pr-0 paddingright">
                            <img class="img-fluid" src="../../../../../assets/images/lovesimon3_1525406149801.jpg" alt="">
                      </div>
                      <div class="col-md-12 col-lg-6">
                            <div class="titleblog">
                                    <h5>[Review] Love, Simon: Dễ Thương Và Ấm Áp</h5>
                                    <div class="icon d-flex">
                                        <div class="likefb">
                                            <i class="far fa-thumbs-up"></i>
                                            <small>Thích 1</small>
                                        </div>
                                        <div class="view ml-2">
                                            <i class="fas fa-eye"></i>       
                                            <small>435</small>
                                        </div>
                                    </div>
                                    <p>Love, Simon chắc chắn sẽ mang đến cho khán giả một câu chuyện tình yêu đồng tính...</p>
                                  </div>
                      </div>
                  </div>
                
                </div>

                <div class="d-flex blog">
                    <div class="row pr-0">
                        <div class="col-md-12 col-lg-6 pr-0 paddingright">
                                <img class="img-fluid" src="../../../../../assets/images/mv5bmjqwntgxmtewnl5bml5banbnxkftztgwndc4mjkzntm--v1-sx1500-cr0-0-1500-999-al-_1524926872517.jpg" alt="">

                        </div>
                        <div class="col-md-12 col-lg-6">
                                <div class="titleblog">
                                        <h5>[Review] Avengers Infinity War: MCU Nay Đã Vượt Xa Các Vũ Trụ Điện Ảnh Khác</h5>
                                        <div class="icon d-flex">
                                            <div class="likefb">
                                                <i class="far fa-thumbs-up"></i>
                                                <small>Thích 1</small>
                                            </div>
                                            <div class="view ml-2">
                                                <i class="fas fa-eye"></i>       
                                                <small>435</small>
                                            </div>
                                        </div>
                                        <p>Năm 2012, không ai nghĩ The Avengers có thể thành công khi một bộ phim tận sáu...</p>
                                      </div>
                        </div>
                    </div>
                   
                  </div>
              
          </div>





          <div class="col-md-6">
              <h3>BLOG ĐIỆN ẢNH</h3>
              <div class="d-flex blog">
                  <div class="row">
                      <div class="col-md-12 col-lg-6 pr-0 paddingright">
                            <img class="img-fluid" src="../../../../../assets/images/deadpool-fox-marvel-01-0-0_1524215199595.jpg" alt="">

                      </div>
                      <div class="col-md-12 col-lg-6">
                            <div class="titleblog">
                                    <h5>
                                        Bóc Phốt Trailer, Lật Mặt Deadpool</h5>
                                    <div class="icon d-flex">
                                        <div class="likefb">
                                            <i class="far fa-thumbs-up"></i>
                                            <small>Thích 1</small>
                                        </div>
                                        <div class="view ml-2">
                                            <i class="fas fa-eye"></i>       
                                            <small>435</small>
                                        </div>
                                    </div>
                                    <p>Deadpool 2 có gì hot? Có chứ, chỉ cần có Pool - Mọi thứ đều sẽ hot, cùng các bạn đón xem!</p>
                                  </div>
                      </div>
                  </div>
                 
                </div>

                <div class="d-flex blog">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 pr-0 paddingright">
                                <img class="img-fluid" src="../../../../../assets/images/deadpool2_1526374198507.jpg" alt="">
                        </div>
                        <div class="col-md-12 col-lg-6">
                                <div class="titleblog">
                                        <h5>
                                            Kẻ Phản Diện Trong Deadpool 2: Cable, Hắn Là Ai?</h5>
                                        <div class="icon d-flex">
                                            <div class="likefb">
                                                <i class="far fa-thumbs-up"></i>
                                                <small>Thích 1</small>
                                            </div>
                                            <div class="view ml-2">
                                                <i class="fas fa-eye"></i>       
                                                <small>435</small>
                                            </div>
                                        </div>
                                        <p>Đến tận thời điểm này thì ai cũng biết kẻ phản diện trong “Deadpool 2” có tên là Cable...</p>
                                      </div>
                        </div>
                    </div>
                
                  </div>

                  <div class="d-flex blog">
                      <div class="row">
                          <div class="col-md-12 col-lg-6 pr-0 paddingright">
                                <img class="img-fluid" src="../../../../../assets/images/lovesimon3_1525406149801.jpg" alt="">

                          </div>
                          <div class="col-md-12 col-lg-6">
                                <div class="titleblog">
                                        <h5>
                                            Love, Simon: Bước Đột Phá Của Phim Đồng Tính</h5>
                                        <div class="icon d-flex">
                                            <div class="likefb">
                                                <i class="far fa-thumbs-up"></i>
                                                <small>Thích 1</small>
                                            </div>
                                            <div class="view ml-2">
                                                <i class="fas fa-eye"></i>       
                                                <small>435</small>
                                            </div>
                                        </div>
                                        <p>Love, Simon đã xuất hiện, đốn tim người xem mà không cần quan tâm tới những giải thưởng.</p>
                                      </div>
                          </div>
                      </div>
                   
                    </div>
          </div>

      </div>  
  </div>


</div>