<div id="SlideListMovie">


  <div class="container">
    <!-- Nav pills -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active linkDangChieu" data-toggle="pill" href="#dangchieu">PHIM ĐANG
          CHIẾU</a>
      </li>
      <li class="nav-item nav2">
        <a class="nav-link linkSapChieu" data-toggle="pill" href="#sapchieu" (click)="activeSlide()">PHIM SẮP CHIẾU</a>
      </li>
      <li lass="line">

      </li>

    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="dangchieu">
        <div class="dangchieu">

          <!-- <owl-carousel [options]="customOptions" [items]="images" [carouselClasses]="['owl-theme','sliding']">
            <div> <img src="../../../../../assets/images/1.jpg" class="img-fluid">
            </div>
            <div> <img src="../../../../../assets/images/2.jpg" class="img-fluid">
            </div>
            <div> <img src="../../../../../assets/images/3.jpg" class="img-fluid">
            </div>
            <div> <img src="../../../../../assets/images/4.jpg" class="img-fluid">
            </div>
            <div> <img src="../../../../../assets/images/5.jpg" class="img-fluid">
            </div>
          </owl-carousel> -->
          <ng-container *ngIf="DanhSachPhimDangChieu.length > 4"> 

            <owl-carousel #owlElement [options]="customOptions" [items]="images" [carouselClasses]="['owl-theme','sliding']">
              <div class="imgMovie" *ngFor="let phim of DanhSachPhimDangChieu">
                <div class="imageHover">
                  <img [src]="urlHost + phim.Image" [alt]="phim.Title" class="img-fluid">
                  <div class="overplay">
                    <button type="button" class="chitietphim" data-toggle="modal" data-target="#myModal" (click)="thongtin(phim.Title,phim.TrailerURI)">Trailer</button>
                    <button type="button" class="datve" (click)="XemChiTiet(phim.ID,MaNhom)" appAniHover>Đặt Vé</button>
                  </div>
                </div>
                <div class="d-flex">
                  <h5 class="mt-3 mb-0 title">{{phim.Title}}</h5>
                </div>
                <div class="d-flex">
                  <div class="ok1">
                    <span class="imdb">IMDB</span>
                    <span class="diem pl-1">8.0</span>
                  </div>
                  <div class="ok2 ml-3">
                    <span class="time">
                      <i class="fas fa-clock"></i>
                    </span>
                    <span class="thoigian pl-1">1h 50min</span>
                  </div>
                </div>
              </div>
            </owl-carousel>
          </ng-container> -->


        </div>
      </div>

      <div class="tab-pane container" id="sapchieu">
        <div class="sapchieu">
          <ng-container *ngIf="check === true">
            <owl-carousel [options]="customOptions" [items]="images" [carouselClasses]="['owl-theme','sliding']">
              <div class="imgMovie" *ngFor="let phim of DanhSachPhimSapChieu">
                <div class="imageHover">
                  <img [src]="urlHost + phim.Image" [alt]="phim.Title" class="img-fluid">
                  <div class="overplay">
                    <button type="button" class="chitietphim" data-toggle="modal" data-target="#myModal" (click)="thongtin(phim.Title,phim.TrailerURI)">Trailer</button>
                    <button type="button" class="datve" (click)="XemChiTiet(phim.ID,MaNhom)" appAniHover>Đặt Vé</button>
                  </div>
                </div>
                <div class="d-flex">
                  <h5 class="mt-3 mb-0 title">{{phim.Title}}</h5>
                </div>
                <div class="d-flex">
                  <div class="ok1">
                    <span class="imdb">IMDB</span>
                    <span class="diem pl-1">8.0</span>
                  </div>
                  <div class="ok2 ml-3">
                    <span class="time">
                      <i class="fas fa-clock"></i>
                    </span>
                    <span class="thoigian pl-1">1h 50min</span>
                  </div>
                </div>
              </div>
            </owl-carousel>
          </ng-container>
        </div>
      </div>



      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">


              <iframe class="video" *ngIf="urlPhim != null" height="600px" width="100%" [src]="urlPhim">
              </iframe>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>



    </div>

  </div>