<div id="banner">
    <img src="../../../../../assets/images/imgad.jpeg" style="width:100%" alt="">
</div>

<div id="GroupCinema">
  <div class="container">
      <h3 class="mt-3">LỊCH CHIẾU PHIM</h3>

      <div class="row d-flex pt-1 pb-1" id="rowCumRap">

            <div class="col-3 tenrap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
      
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#homecon">
                                <img class="imgLogo" src="https://s3img.vcdn.vn/123phim/2017/11/433007c685123da4226af33de215e38a.png" alt=""><span class="nameCinema">Cinestar</span>
                            </a>
                        </li>
      
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menucon">
                                <img class="imgLogo" src="https://s3img.vcdn.vn/123phim/2018/02/854e065ed5dfd5441965c99c5e197d56.png" alt=""><span class="nameCinema">Lotte Cinema</span>
                            </a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menucon1">
                                    <img class="imgLogo" src="https://s3img.vcdn.vn/123phim/2017/11/526c679660edac88b195a9008590b1e8.png" alt=""><span class="nameCinema">Mega GS</span>
                                </a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menucon2">
                                    <img class="imgLogo" src="https://s3img.vcdn.vn/123phim/2014/04/b216b21c3fbc33d5c60f2b504a7506cd.png" alt=""><span class="nameCinema">CGV Cinema</span>
                                </a>
                        </li>

                        
      
                    </ul>
                    <!-- Nav tabs -->
                </div>


          <div class="col-4 diachirap">
              <!-- Tab panes 1 -->
              <div class="tab-content">

                  <div class="tab-pane active container" id="homecon">
                      <ul class="nav nav-tabs">

                          <li class="nav-item">
                              <a class="nav-link active d-flex" data-toggle="tab" href="#homechau1">
                                  <img class="imgAddress" src="https://s3img.vcdn.vn/123phim/2017/08/cinestar-hai-ba-trung-15021640992901.jpg" alt="">
                                  <div class="ml-2 chitiet">
                                      <b class="cns">CNS</b> - Hai Bà Trưng
                                      <br>
                                      <small>123 Hai Bà Trưng</small>
                                      <br>
                                      <small class="btnchitiet">[Chi tiết]</small>
                                  </div>
                              </a>
                          </li>

                          <li class="nav-item">
                              <a class="nav-link d-flex" data-toggle="tab" href="#homechau2">
                                  <img class="imgAddress" src="https://s3img.vcdn.vn/123phim/2015/03/9fae6901cdcf6f3a82dd85aa4d07f8a3.jpg" alt="">
                                  <div class="ml-2 chitiet">
                                      <b class="cns">CNS</b> - Quang Trung
                                      <br>
                                      <small>123 Quang Trung</small>
                                      <br>
                                      <small class="btnchitiet">[Chi tiết]</small>
                                  </div>
                              </a>
                          </li>

                          <li class="nav-item">
                                <a class="nav-link d-flex" data-toggle="tab" href="#homechau3">
                                        <img class="imgAddress" src="https://s3img.vcdn.vn/123phim/2014/12/b975e06fd7c3762f0d40efaaea5395d7.jpg" alt="">
                                        <div class="ml-2 chitiet">
                                            <b class="cns">CNS</b> - Quang Trung
                                            <br>
                                            <small>123 Quang Trung</small>
                                            <br>
                                            <small class="btnchitiet">[Chi tiết]</small>
                                        </div>
                                    </a>
                          </li>

                      </ul>
                  </div>

                  <div class="tab-pane container" id="menucon">
                      <ul class="nav nav-tabs">

                          <li class="nav-item">
                                <a class="nav-link d-flex active" data-toggle="tab" href="#menuchau1">
                                        <img class="imgAddress" src="https://s3img.vcdn.vn/123phim/2017/08/lotte-cinema-go-vap-15020967440969.jpg" alt="">
                                        <div class="ml-2 chitiet">
                                            <b class="lotte">LOTTE</b> - Bùi Viện
                                            <br>
                                            <small>123 Bùi Viện</small>
                                            <br>
                                            <small class="btnchitiet">[Chi tiết]</small>
                                        </div>
                                    </a>
                          </li>

                          <li class="nav-item">
                                <a class="nav-link d-flex" data-toggle="tab" href="#meuchau2">
                                        <img class="imgAddress" src="https://s3img.vcdn.vn/123phim/2014/12/cec7b8397ba6f0eac24bf9be0f8f10d7.jpg" alt="">
                                        <div class="ml-2 chitiet">
                                            <b class="lotte">LOTTE</b> - Phú Thọ
                                            <br>
                                            <small>123 Phú Thọ</small>
                                            <br>
                                            <small class="btnchitiet">[Chi tiết]</small>
                                        </div>
                                    </a>
                          </li>

                      </ul>
                  </div>

              </div>
              <!-- Tab panes 1 -->
          </div>



          <div class="col-5 lichchieu">
              <div class="tab-content container">

                  <div class="tab-pane container p-0 active" id="homechau1">
                      <div class="p-0 pb-3 mb-2 divthongtin" *ngFor="let ds of DanhSachPhim">
                            <a class="nav-link d-flex" data-toggle="tab" href="#">
                                    <img class="imgAddress" [src]="urlHost + ds.Image" [alt]="ds.Title">
                                    <div class="ml-2 chitiet">
                                        <b>{{ds.Title}}</b>
                                        <br>
                                        <small>120 phút - 8.5 IMDB</small>
                                    </div>
                            </a>

                            <div class="row rowtable">
                                    <div class="col-1 pl-0">
                                        <img class="mt-2" src="http://www.123phim.vn/app/assets/img/icons/typeSession/2_0.png" alt="">
                                    </div>
                                    <div class="col-11">
                                            <a class="thoigianchieu" href="#">
                                                10:00
                                            </a>
                                            <a class="thoigianchieu" href="#">
                                                    10:00
                                            </a>
                                            <a class="thoigianchieu" href="#">
                                                    10:00
                                            </a>
                                            <a class="thoigianchieu" href="#">
                                                    10:00
                                            </a>
                                            <a class="thoigianchieu" href="#">
                                                    10:00
                                            </a>
                                            <a class="thoigianchieu" href="#">
                                                    10:00
                                            </a>
                                    </div>
                            </div>   
                      </div>
                        
                  </div>


                  <div class="tab-pane container" id="homechau2">Lịch chiếu 2</div>
                  <div class="tab-pane container" id="homechau3">Lịch chiếu 3</div>

                  <div class="tab-pane container" id="menuchau1">Menu Chau 1</div>
                  <div class="tab-pane container" id="menuchau2">Menu Chau 2</div>

              </div>
          </div>


      </div>
      <!-- row -->
   <div>
   <!-- Container -->
</div>
<!-- /div GroupCinema -->