<div class="detailPhim d-flex">
    <h1>{{titleMovie}}</h1>

    <div class="ok1">
        <span class="imdb">IMDB</span>
        <span class="diem pl-1">8.0</span>
    </div>

    <div class="ok2 ml-4">
      <span class="time">
          <i class="fas fa-clock"></i>
      </span>
      <span class="thoigian pl-1">1h 50min</span>
    </div>
    
</div>
<small class="description mt-2">{{desMovie}}</small>

<div class="thoigiandiadiem mt-5 d-flex justify-content-between">
    <div class="tenrap">
        <small>Tên rạp</small>
        <p class="mt-1">{{TenRap}}</p>
    </div>

    <div class="ngaychieu">
        <small>Ngày chiếu</small>
        <p class="mt-1">{{NgayChieu | date:'EEEE, MMMM d' }}</p>
    </div>

    <div class="lichchieu">
        <small>Suất</small>
        <p class="mt-1">{{GioChieu | slice:0:5}}</p>
    </div>
</div>