@import '../../../../../assets/styles/main.scss';

.detailPhim{
    .ok1,.ok2{
        font-size: 75%;
        padding-top: 20px;
    }
    .imdb{
        margin-left: 35px;
        padding: 1px 4px;
        background: #62666e;
        height: 19px;
        color: #1a202c;
        font-weight: 700;
        margin-top: 16px;
    }
    .time{
        color:#62666e;
    }
    
}

.description{
    color: $ColorFont;
    width:70%;
    display: block;
}

.thoigiandiadiem{
    width: 60%;

    small{
        font-size:75% !important;
        color: $ColorFont;
    }
}

@media(max-width:1024px){
    .description{
        width: 100% !important;
    }
    .thoigiandiadiem{
        width: 75%;
    }
}

@media(max-width:414px){
    .thoigiandiadiem{
        width: 95%;
    }
    .detailPhim{
        h1{
            font-size: 1.8em;
        }
        .ok1,.ok2{
            padding-top: 13px;
            font-size: 50%;
        }
    }
}

@media(max-width:360px){
    .detailPhim{
        font-size: 90%;
        
        .ok1,.ok2{
            padding-top:11px;
        }
    }
}

@media(max-width:320px){
    .imdb{
        margin-left: 20px !important;
    }
    .ok2{
        margin-left: 15px !important;
    }
    .ok1,.ok2{
        padding-top: 5px !important;
    }
}