@import "../../../../../assets/styles/main.scss";


#MovieDetail{
    color: white;
    background: $ColorBackground;
    padding-bottom: 100px;
    padding-top:100px;

    .rowImage{
        position: relative;

        .bgImage{
            width:70%; 
            height:100%; 
            position: absolute; 
            opacity:0.3;
            z-index:0
        }
        .bgGradian{
            background:radial-gradient(ellipse at center, rgba(28, 35, 47, 0.6) 0%, rgba(28, 35, 47, 0.6) 10%, #1a202c 65%, #1a202c 100%);
            width:70%;
            height:100%;
            position:absolute; 
            z-index:0;
        }
    }

    .description{
        color:$ColorFont;
        padding: 20px 0;
    }

    li{
        margin-top: 15px;
        font-size: 14px;
    }

    .name{
        display: inline-block;
        width: 75px;
    }
    .valuename{
        padding-left: 25px;
        color: $ColorFont;
    }

    button{
        cursor: pointer;
    }
    .trailer{
        @include buttonAni;
        @include button(none,white);
        border: 2px solid $ColorPrimary;
    }
    .bookticket{
        @include button($ColorSecondary,#fff);
        cursor: pointer;
    }
}


.imgMovie{
    box-shadow: -23px 23px 23px -5px rgba(0,0,0,0.4);
}



/* Modal */
@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
    
}
.modal-content{
    background: none;
}
button.close {
    text-shadow: none;
    color: $ColorPrimary;
    font-size: 40px;
    background: none;
    opacity: 1;
}
.modal-footer{
    border-top: none;
}
.video{
    border: 1px solid black;
}


a{
    transition: all .2s linear;
}

img{
   width: 98%;
   height: 350px;
}

a:hover{
    color: $ColorPrimary;
}


//Responsive
@media(max-width:1024px){
    .rowImage .col-7{
        padding-top: 0px !important;
    }
    .infoimage{
        padding-top:40px;
        
    }
    #MovieDetail{
        padding-top:50px;
    }
}

@media(max-width:768px){
    .chitietphim{
        padding-top: 5px !important;
    }
    .infoimage{
        padding-top: 10px;

    }
}

@media(max-width: 414px){
    .gioithieu {
        h2{
            margin-top:20px !important;

        }
    }

    .imgMovie{
        width: 100% !important;
    }
}




