<div id="headerTop">
  <div class="container clearfix">


      <div class="float-left headerleft">
        <ul class="p-0">
          <li class="d-inline">
            <a href="">Giới thiệu</a>
          </li>
          <li class="d-inline">
            <a href="">Tuyển dụng</a>
          </li>
          <li class="d-inline">
            <a href="">FAQS</a>
          </li>
        </ul>
      </div>

      <div class="float-right headerright">
        <app-login-register></app-login-register>
      </div>
    
  </div>
</div>

    <!-- Brand -->
      <div class="text-center brand">
        <a id="logoMovie" routerLink="/">
          <h1 (click)="chuyentrang">CYBER</h1>
          <small>Best of Cinema</small>
        </a>
      </div>
  

<!-- Navbar navigation-->
<nav class="navbar navbar-expand-md sticky-top m-0" id="myNav">
  <div class="container">

    <!-- Brand -->
    <div id="logo2" class="text-center">
        <a id="logoMovie2" class="" href="#">
          <h1>CYBER</h1>
          <small>Best of Cinema</small>
        </a>
    </div>
  

    <!-- Button Collapse -->
    <div class="navbarMenu">

        <div class="text-right">
            <div class="navbar-header">
              <button id="sidebarCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>

      <div class="okNav">
        <!-- navigation-->
        <div class="collapse navbar-collapse" id="myNavbar">
          <div class="decorate"></div>
          <ul class="navbar-nav">
            <div class="mx-auto menu">
                <li class="nav-item">
                    <a class="nav-link" href='#GroupCinema'>LỊCH CHIẾU</a>
                  </li>
      
                  <li class="nav-item">
                    <a class="nav-link" href=".carousel-indicators">PHIM</a>
                  </li>
      
                  <li class="nav-item">
                    <a class="nav-link" href="#GroupCinema">CỤM RẠP</a>
                  </li>
      
                  <li class="nav-item">
                    <a class="nav-link" href="#">ƯU ĐÃI</a>
                  </li>
            </div>

            <!-- Popover Search1 -->
           <div id="Search" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true">
              <i class="fa fa-search" href="#" id="searchok"></i>
              <div id="popover-content">
                <form action="" method="GET" class="form-inline" role="form">
                  <div class="form-group">
                    <input class="searchInput" type="text" placeholder="Bạn muốn xem phim gì hôm nay?">
                  </div>
                </form>
                <!-- <div id="load" class="text-center pt-1">
                <div class="pr-1 preloader2">
                  <div class="loader2">
                    <span style="visibility:hidden">L</span>
                  </div>
                </div>
              </div> -->
              </div>
            </div>
            <!-- /Popover Search -->
            
          </ul>

           

        </div>
        <!-- /navigation-->
      </div>
    </div>
    <!-- /Button Collapse -->






  </div>
  <!-- /Container -->
</nav>
<!-- /Navbar navigation-->
